<tr>
    <td>
        <table style="border:0; margin-top:10px;" width="700" border="0">
            <tr>
                <td valign="top" width="30%">
                    Raporty szczegółowe baza:<a name="{{ dbname|upper }}" id="{{ dbname|upper }}"></a>
                    <h2 style="color: #444" stytle="margin-top:3px; margin bottom:6px;"><img src="cid:0" align="bottom" style="border:0px; margin-top:2px;" alt="-">&nbsp; {{ dbname|upper }}</h2>
                    DBID: {{ dbid }}<br/>{{ db_version }}
                    {% if dg_status %}<br/>DataGuard status: {{ dg_status }}{% endif %}
                    {% if pdb_val %}<ul>{% for row in pdb_val %}<li><strong>{{ row['pdb'] }}</strong> ({{ row['guid'] }})</li>{% endfor %}</ul>{% endif %}
                </td>
                <td>
                    <ul>
                        <li><a href="#{{ dbname|upper }}_full">kopie pełne</a></li>
                        <li><a href="#{{ dbname|upper }}_arch">kopie archive-logów</a></li>
                        {% if check_logs %}<li><a href="#{{ dbname|upper }}_logs">archiwizacja logów aplikacji</a></li>{% endif %}
                        {% if lob_check %}<li><a href="#{{ dbname|upper }}_lob">partycje lob</a></li>{% endif %}
                        <li><a href="#{{ dbname|upper }}_redo">rotacja redo logów</a></li>
                        <li><a href="#{{ dbname|upper }}_tbl">informacje nt. przestrzeni tabel</a></li>
                        <li><a href="#{{ dbname|upper }}_stats">dane nt. statystyk tabel</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </td>
</tr>