                <tr>
                    <td>
                        <p style="font-size:10px; margin:5px;">&copy; {{ company }}, Backup report version {{ version }} (python)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>