<tr>
    <td>
        <table style="border:0; margin-top:10px;" width="700" border="0">
            <tr>
                <td>
                    <a id="{{ dbname|upper }}_{{ postfix }}" name="{{ dbname|upper }}_{{ postfix }}"></a>
                    <h4 style="margin:4px">{{ full_title }}</h4>
                </td>
            </tr>
        </table>
    </td>
</tr>
{{ table_html }}
<tr>
    <td>
        <table style="border:0; margin-bottom:10px;" width="700\">
            <tr>
                <td align="right" width="700">
                    <h5 style="margin:4px"><a href="#{{ dbname|upper }}">spis treści &raquo;</a></h5>
                </td>
            </tr>
        </table>
    </td>
</tr>